/* Redefinição de estilos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos básicos */
body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    /* Cor de fundo clara */
    color: #333;
    /* Cor do texto escura */
}

/* Estilos do Cabeçalho */
h1 ,h2{
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos da Tabela de Contatos */
#tabelaContatos {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    /* Adiciona margem inferior à tabela */
}

#tabelaContatos th,
#tabelaContatos td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

#tabelaContatos thead th {
    background-color: #4CAF50;
    color: white;
}

/* Estilos do Formulário */
#formContato {
    max-width: 500px;
    /* Limita a largura do formulário */
    margin: 0 auto;
    /* Centraliza o formulário horizontalmente */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    /* Adiciona margem inferior ao formulário */
}

#formContato label {
    display: block;
    margin-bottom: 5px;
}

#formContato input[type="text"],
#formContato input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#formContato button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Adiciona efeito hover */
}

#formContato button[type="submit"]:hover {
    background-color: #3e8e41;
    /* Verde mais escuro no hover */
}