/* Regras Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color:#007bff;
}

header {
    background-color: #fff;
    padding: 20px;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Formulário */
#formContato {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 20px auto;
}

.campo {
    display: flex;
    margin-bottom: 10px;
}

.campo label {
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

.campo input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
}

#formContato button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th,
td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #eee;
    text-align: center;
}

/* Tabela Responsiva */
@media (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
    }

    th,
    td {
        white-space: nowrap;
    }
}

/* Filtro */
.filtro {
    margin-bottom: 10px;
}

#busca {
    padding: 10px;
    border: 1px solid #ccc;
}
